* {
  box-sizing: border-box;
  /* other resets here but I think this sample is good enough */
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
button[type="submit"],
input,
select {
  width: 100%;
}
select {
  padding: 0.25rem;
}
button[type="submit"] {
  padding-block: 0.5rem;
}
.edit-btn,
.delete-btn {
  padding: 0.25rem 0.5rem;
}
button {
  background-color: bisque;
  border-color: bisque;
  cursor: pointer;
}
button:hover {
  background-color: aquamarine;
}
.form-box {
  width: 20rem;
  padding: 1rem;
}

.cupcake {
  margin-inline: 1rem;
}
.search-forms {
  display: grid;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search-forms {
    grid-template-columns: 70% 30%;
    gap: 10px;
    gap: 1rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search-forms {
    grid-template-columns: 80% 20%;
    gap: 10px;
    gap: 1rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
