.flex {
  display: flex;
}
button[type="submit"],
input {
  width: 100%;
}
button[type="submit"] {
  padding-block: 0.5rem;
}
.edit-btn,
.delete-btn {
  padding: 0.25rem 0.5rem;
}
button {
  background-color: bisque;
  border-color: bisque;
  cursor: pointer;
}
button:hover {
  background-color: aquamarine;
}
.form-box {
  width: 20rem;
  padding: 1rem;
}
.cupcake {
  margin-inline: 1rem;
}
