{% extends 'base.html' %} {% block content %}
<!-- form for adding cupcakes  -->
<form id="add-cupcake" method="POST" class="form-box">
  {{ form.hidden_tag() }}
  <h3>Add a cupcake</h3>
  <div id="error-msg"></div>
  {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
    endfor %}
  </p>

  {% endfor %}

  <button id="add-cupcake-btn" type="submit">Add Cupcake</button>
</form>
<hr />

<div class="search-forms">
  <!-- form for searching by flavor -->
  <form id="search-cupcake" method="get">
    <input
      id="searchFlavor"
      type="text"
      name="flavor"
      placeholder="Search..."
    />
    <button type="submit">Search</button>
  </form>
  <!-- filter by size  -->
  <div>
    <label for="mySelect">Filter by size:</label>
    <select id="mySelect">
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
    </select>
  </div>
  <!-- filter rating  -->
  <div>
    <label for="mySelect">Filter by rating:</label>
    <select id="mySelect">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>
<!-- list of cupcakes  -->
<h3>List of cupcakes</h3>
<div class="flex" id="list-of-cupcakes">
  {% for cupcake in results %}
  <div class="cupcake" data-id="{{cupcake.id}}">
    <p>{{cupcake.flavor}}</p>
    <p>{{cupcake.size}}</p>
    <p>{{cupcake.rating}}</p>
    <img
      src="{{cupcake.image}}"
      alt="image of cupcake"
      width="200"
      height="300"
    />
    <a href="/cupcakes/{{cupcake.id}}">Edit</a>
    <button class="delete-btn">Delete</button>
  </div>
  {% endfor %}
</div>
{% endblock %}
